*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../css/grocery.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  height: 100%;
}

.section-center {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  max-width: 35rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 1rem;
  padding: 2.5rem;
  position: relative;
}
